<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SEARCH ENG</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Create_process</display-name>
    <servlet-name>Create_process</servlet-name>
    <servlet-class>Create_process</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Create_process</servlet-name>
    <url-pattern>/Create_process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Process_Steps</display-name>
    <servlet-name>Process_Steps</servlet-name>
    <servlet-class>Process_Steps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Process_Steps</servlet-name>
    <url-pattern>/Process_Steps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Steps</display-name>
    <servlet-name>Add_Steps</servlet-name>
    <servlet-class>Add_Steps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Steps</servlet-name>
    <url-pattern>/Add_Steps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Query</display-name>
    <servlet-name>Query</servlet-name>
    <servlet-class>Query</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query</servlet-name>
    <url-pattern>/Query</url-pattern>
  </servlet-mapping>
</web-app>